* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 75px;
  background-color: #232323;
  box-shadow: 3px 0px 11px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;
  background-color: rgb(245, 245, 245);
  width: 100%;
}

.buttonIcon {
  width: 25px;
  height: 25px;
  margin-bottom: 0.25rem;
}

.clearText {
  background-color: transparent;
  color: #232323;
  text-align: center;
  font-size: 14px;
}

.logoDiv {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

#logo {
  width: 80%;
}
